<script src="/assets/js/plugins/jquery-3.5.0.slim.js"></script>
<script src="/assets/js/plugins/fontawesome-v5.13.0.min.js"></script>
<script src="/assets/js/plugins/bootstrap-v3.3.7.min.js"></script>
<script src="/assets/js/plugins/bigSlide-v0.12.0.min.js"></script>
<script src="/assets/js/plugins/fastclick-v1.0.6.min.js"></script>
<script src="/assets/js/plugins/modernizr.custom-v2.8.3.min.js"></script>
<!--<script src="/assets/js/plugins/retina-v1.3.0.min.js"></script> -->
<script src="/assets/js/main/theme.js"></script>
<script src="/assets/js/application.js"></script>