<footer class="single">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <img alt="Ziemek" class="user-icon" src="/assets/images/Z0069.jpg">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="category-list">
          <p> Published <span>{{ page.date | date_to_long_string }}</span></p>
          <p>BY Ziemek
            In <a href="{{ page.category_url }}">{{ page.category }}</a>
          </p>
          <p>Ziemek is a software developer with a focus on results, productivity and communication. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="social">
          <p>Reach me at</p>
          <a class="social-icon" href="https://twitter.com/ziemekwolski" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="social-icon" href="https://github.com/ziemekwolski" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a class="social-icon" href="mailto:ziemek@zmwolski.com">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row read-another-section">
    <a href="/sql-joins-explained-visually">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 no-gutter read-another-container">
        <div class="overlay"></div>
        <img src="https://s3.amazonaws.com/zmwolski-uploads/uploads/files/000/000/052/square_800/jungwoo-hong-112133-unsplash.jpg?1524365042" alt="Jungwoo hong 112133 unsplash">
        <h3 class="read-another">SQL Joins Explained visually</h3>
      </div>
    </a>
    <a href="/stop-guessing-sql-joins-explained">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 no-gutter read-another-container">
        <div class="overlay"></div>
        <img src="https://s3.amazonaws.com/zmwolski-uploads/uploads/files/000/000/046/square_800/jonathan-percy-515685-unsplash-trimmed.jpg?1524106485" alt="Jonathan percy 515685 unsplash trimmed">
        <h3 class="read-another">Stop guessing, SQL joins explained</h3>
      </div>
    </a>
  </div>
</footer>