<footer class="single">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <img alt="Ziemek" class="user-icon" src="/assets/images/Z0069.jpg">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="category-list">
          <p> Published <span>{{ page.date | date_to_long_string }}</span></p>
          <p>BY Ziemek
            In <a href="{{ page.category_url }}">{{ page.category }}</a>
          </p>
          <p>Ziemek is a software developer with a focus on results, productivity and communication. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="social">
          <p>Reach me at</p>
          <a class="social-icon" href="https://twitter.com/ziemekwolski" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="social-icon" href="https://github.com/ziemekwolski" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a class="social-icon" href="mailto:ziemek@zmwolski.com">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row read-another-section">
    {% assign filtered_posts = site.posts | sample: 6 %}
    {% for post in filtered_posts %}
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 no-gutter read-another-container">
        <a href="{{ post.url }}">
          <div class="parent">
            <div class="child" style="background-image: url({{ post.hero-image-url }})">
              <span class="read-another">
                <strong><h3>{{ post.title }}</h3></strong>
              </span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</footer>